Screen {
    background: #0a0a0a;
    color: #ffb000;
    align: center middle;
}

#title {
    text-align: center;
    width: 100%;
}

#subtitle {
    text-align: center;
    width: 100%;
    color: #a07000;
}

Input {
    background: #0a0a0a;
    color: #ffb000;
    border: tall #ffb000;
    width: 50%;
}

#hint {
    text-align: center;
    width: 100%;
    color: #a07000;
}

ScrollableContainer {
    scrollbar-color: #ffb000;
    scrollbar-color-hover: #ffb000;
    scrollbar-size: 1 1;
}

ResultsScreen Input {
    background: #0a0a0a;
    color: #ffb000;
    border: none #ffb000;
    width: 50%;
    height: 1;
}

Static {
    color: #ffb000;
}

#results {
    width: 100%;
    padding: 1 8;
}
